body{
    margin: 0px;
    font-family: monospace;
    background-color: black;
}

.header {
    background-color: black;
    width: 100%;
    border-bottom: 3px blue solid;
    height: 100px;
}

.container{
    width: 80%;
    display:flex;
    margin: auto;

}

h1{
    margin: 0px;
    color: #32b9cd;
}
.navbar{
    width: 500px;
    list-style: none;
    align-items: center;
    display:flex;
    color: orange;
    justify-content: space-between;
}

ul{
    margin-left:  50%;;
}

.header .container {
    align-items: center;
    justify-content: space-between;
    height:100%;
}

li {
    cursor: pointer;
    transition: 0.5s;
}

li:hover{
    font-size: large;
}

p {
    color: white;
}

.banner {
    height: 500px;
    background-image: url("../projeto-iot-revolucionario-moretti/bg-jelly-fish-para-home.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .card {
    background-color: beige;
    margin: auto;
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top:30px;
}

.card {
    border-radius: 20px;
}

.btn {
    font-family: monospace;
    border: 0px;
    font-weight: 600;
    background-color: #E75459;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px 15px;
}



input {
    height: 30px;
    border: solid #E75459;
    border-radius: 5px;
}